
<div class="container-fluid d-flex    mt-5 component-background bj">
  <div class="p-2 formbg m-5">
    <h3 class="text-center text-light mt-2">New Task</h3>
<form (ngSubmit)="addtask()" #taskform="ngForm" class="p-5">
  
  <div class="form-floating mb-3">
    <input 
      type="text" 
      class="form-control" 
      id="floatingInput" 
      placeholder="Title" 
      name="titel" 
      required 
      pattern=".{2,100}"  
      [(ngModel)]="newtask.titel" 
      #inptitle="ngModel">
    <label for="floatingInput">Title:</label>
    
   
    <div [hidden]="inptitle.valid || inptitle.untouched">
      <small *ngIf="inptitle.errors?.['required']" class="alert alert-danger">Title is required.</small>
      <small *ngIf="inptitle.errors?.['pattern']" class="alert alert-danger">Title must be between 2 and 100 characters.</small>
    </div>
  </div>

  <!-- Description Input -->
  <div class="form-floating mb-3">
    <textarea 
      type="text" 
      class="form-control h-100" 
      id="floatingInput" 
      placeholder="Description" 
      name="description" 
      maxlength="500" 
      [(ngModel)]="newtask.description" 
      #inpdescription="ngModel" 
      required></textarea>
      
    <label for="floatingInput">Description:</label>
    
   
    <div [hidden]="inpdescription.valid || inpdescription.untouched">
      <small *ngIf="inpdescription.errors?.['required']" class="alert alert-danger">Description is required.</small>
      <small *ngIf="inpdescription.errors?.['maxlength']" class="alert alert-danger">You can't write more than 500 characters.</small>
    </div>
  </div>

 
  <div class="form-group mb-3">
    <label for="dateInput" class="text-light fw-bolder">Select Due Date:</label>
    <input 
      type="date" 
      id="dateInput" 
      name="dueDate" 
      [(ngModel)]="newtask.dueDate"
      required 
      class="form-control"
      (ngModelChange)="checkDate($event)" />
  </div>

  
  <div *ngIf="warningMessage" class="alert alert-warning">
    {{ warningMessage }}
  </div>

  <div class="form-group">
    <label class="text-light fw-bolder">Status:</label><br>
    <div class="form-check form-check-inline">
        <input 
          class="form-check-input" 
          type="radio" 
          id="statusComplete" 
          name="status" 
          [(ngModel)]="newtask.isCompleted" 
          [value]="true"
          required>
        <label class="form-check-label text-success fw-bolder" for="statusComplete">Complete</label>
    </div>
    <div class="form-check form-check-inline">
        <input 
          class="form-check-input" 
          type="radio" 
          id="statusNotComplete" 
          name="status" 
          [(ngModel)]="newtask.isCompleted" 
          [value]="false" [checked]="newtask.isCompleted">
        <label class="form-check-label text-danger fw-bolder" for="statusNotComplete" >Not Complete</label>
    </div>
</div>

  
  <button class="btn btn-warning text-light " [disabled]="taskform.invalid ">ADD</button>

</form>
</div>
</div>